<div id="force-overflow">
    <div class="main" class="box-shadow-2">
       <nav class="navbar" style="border:100px">
    <div class="navbar-header">
      <a class="navbar-brand text-muted" href="#"> <i class="fa fa-instagram"></i> Match Making</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav" style="float:right">
        <li><a href="#" data-placement="top" title="Request" data-toggle="tooltip"><i class="fa fa-paper-plane-o"></i></a></li>
        <li><a href="#" data-placement="top" title="Notification" data-toggle="tooltip"><i class="fa fa-bell-o"></i></a></li>
        <li><a href="#" class="text-muted" data-placement="top" title="Profil" data-toggle="tooltip"><i class="fa fa-user-o"></i></a></li>

      </ul>
    </div>
  </div>
</nav>