{% extends 'user/templates/default.twig' %}
{% block content %}
    <div class="col-md-5 col-xs-6">
            <div class="card">
                <!-- <div class="card-body"> -->
                    <div class="card-block">
                        <h4 class="card-title"> <i class="fa fa-instagram"></i> Card title</h4>
                        <img class="card-img img-fluid mb-1" src="{{ base_url() }}/assets/images/img-20170909-59b3e0b2ad3e1.png">
                        <i class="fa fa-send-o" style="color:black"></i>&emsp;
                        <i class="fa fa-address-book-o" style="color:black"></i>
                        <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake marzipan chocolate chocolate bar.</p>
                        <a href="#" class="btn btn-outline-teal">View Detail</a>
                    </div>
            </div>
    </div>
     <div class="col-md-5 col-xs-6">
            <div class="card">
                <!-- <div class="card-body"> -->
                    <div class="card-block">
                        <h4 class="card-title"> <i class="fa fa-instagram"></i> Card title</h4>
                        <img class="card-img img-fluid mb-1" src="{{ base_url() }}/assets/images/img-20170909-59b3e0b2ad3e1.png">
                        <i class="fa fa-send-o" style="color:black"></i>&emsp;
                        <i class="fa fa-address-book-o" style="color:black"></i>
                        <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake marzipan chocolate chocolate bar.</p>
                        <a href="#" class="btn btn-outline-teal">View Detail</a>
                    </div>
            </div>
    </div>
     <div class="col-md-5 col-xs-6">
            <div class="card">
                <!-- <div class="card-body"> -->
                    <div class="card-block">
                        <h4 class="card-title"> <i class="fa fa-instagram"></i> Card title</h4>
                        <img class="card-img img-fluid mb-1" src="{{ base_url() }}/assets/images/img-20170909-59b3e0b2ad3e1.png">
                        <i class="fa fa-send-o" style="color:black"></i>&emsp;
                        <i class="fa fa-address-book-o" style="color:black"></i>
                        <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake marzipan chocolate chocolate bar.</p>
                        <a href="#" class="btn btn-outline-teal">View Detail</a>
                    </div>
            </div>
    </div>
     <div class="col-md-5 col-xs-6">
            <div class="card">
                <!-- <div class="card-body"> -->
                    <div class="card-block">
                        <h4 class="card-title"> <i class="fa fa-instagram"></i> Card title</h4>
                        <img class="card-img img-fluid mb-1" src="{{ base_url() }}/assets/images/img-20170909-59b3e0b2ad3e1.png">
                        <i class="fa fa-send-o" style="color:black"></i>&emsp;
                        <i class="fa fa-address-book-o" style="color:black"></i>
                        <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake marzipan chocolate chocolate bar.</p>
                        <a href="#" class="btn btn-outline-teal">View Detail</a>
                    </div>
            </div>
    </div>

{% endblock %}