{% extends 'user/templates/default.twig' %}
{% block title %} Notification {% endblock %}
{% block content %}
<div class="container" style="width:100%;">
    <h5 style="font-family:initial;font-style:oblique">Notification</h5>
     <div class="collection">
    <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
    <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
    <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
  </div>
  <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Hover me!</a>
</div>



  
{% endblock %}