header
{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;    
}

#info
{
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a{
    color: #074E8C;
}

.scrollbar
{

    /*margin-left: 30px;*/
    /*float: left;*/
    /*height: 300px;
    width: 65px;*/
    background: #F5F5F5;
    overflow-y: scroll;
    /*margin-bottom: 25px;*/
}

.force-overflow
{
    min-height: 450px;
}

#wrapper
{
    text-align: center;
    width: 500px;
    margin: auto;
}


/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(149, 165, 166,1.0);
}

}
